* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Antic Slab';
  font-size: xx-large;
}


.start{
  height:100px;
  font-family: 'Antic Slab';
  font-size: xx-large;
  background-color: lightskyblue;
  margin-top: 20px;
}
h3{
  justify-content: center;
  align-content: center;
  text-align: center;
}
section{
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  background-color:rebeccapurple ;
}
.cover{
  background-image: url(https://wallpapercave.com/wp/57DQCPL.jpg) !important;
  background-size: cover;
  max-width: 1300px;
}
.grid-wrapper {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}
#playAgain{
  height:100px;
  font-family: 'Antic Slab';
  font-size: xx-large;
  background-color: lightskyblue;
  margin-top: 20px;
}
.grid {
  padding: 0%;
  margin:0%;
  background-image: url(https://cutewallpaper.org/21/tumblr-space-backgrounds/space-backgrounds-tumblr-hd-background-desktop-Tessera-Guild.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  height: 100%;
  width: 80%;
  max-width: 1300px;
}

.alien{
  background-image: url(../Assets/alienShip.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
.alienLazer{
  background-image: url(../Assets/alienLazer.png);
}

.asteroid{
  background-image: url(../Assets/Asteroid.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div {
  background-size: cover;
  flex-grow: 0;
}

.grid div.player {
  background-image: url(../Assets/player.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.lazer{
background-image: url(../Assets/playerLazer.png);
}

.shields{
  background-image: url(../Assets/player.gif) !important;
}

.explode{
  background-image: url(../Assets/Explosion.gif) !important;
}
